.sidebar_2
  .oblako
    = image_tag(@user.avatar, :alt => "rss feed", style: "float: left; margin-right: 15px;", width: "200")
    %div
      %h3{style: "margin: 0px;"}
        Name:
        %span{style: "color: blue"} Test name
      %h3{style: "margin: 0px;"}
        Surname:
        %span{style: "color: blue"} Test surname
    .div{style: "clear: both;"}
.clr

        