.sidebar_2
  .oblako
    %img/
    = image_tag @user.avatar.url(:display), height: "200", style: "float: left; margin-right: 15px;", width: "200"
    %div
      %h3{style: "margin: 0px;"}
        Email:
        %span{style: "color: blue"}
          = @user.email
      %h3{style: "margin: 0px;"}
        Name:
        %span{style: "color: blue"}
          = @user.firstname
      %h3{style: "margin: 0px;"}
        Surname:
        %span{style: "color: blue"}
          = @user.lastname
    .div{style: "clear: both;"}
.clr