.sidebar_2
  .oblako
    %h1 Listing posts
    %span1.new_post
      %button.new_post_hp.button-padding-0.btn.btn-primary{"data-target" => "#myModal", "data-toggle" => "modal"}
        = image_tag("tweet.png", :size => "50x50")
    .clr
    %h2 Search
    .postssearch
      =form_tag(wall_index_path, method: "post", remote: true, :id => 'wall_form_ajax', :authenticity_token => true ) do
        =text_field_tag(:q)
        =submit_tag("Search")
    .posts.my#posts_user
      = render partial: "posts/posts_home"
    #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h4#myModalLabel.modal-title New post
          #render_post_mw.modal-body
            = render partial: "posts/post_new"
.clr