// Place all the styles related to the admin/Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
  font-size:25px;
  background-color: #FFF8DC;
  border-radius:5px 5px 5px 5px;
  width:100%;
  height:50px;
  margin:0 auto;
}
.l{
  background-color: #F5FFFA;
  border-radius:5px 5px 5px 5px;
  width:25%;
  float:left;
  margin-left:15px;
  text-align:center;
  font-size:25px;
  color:#000000;
  margin-top:25px;
}
.n1{
  border-radius:25px 25px 25px 25px;
  font-size:15px;
  background-color: #FFFFE0;
  margin:5px auto;
}
.n2{
  border-radius:25px 25px 25px 25px;
  font-size:15px;
  background-color: #FFFFE0;
  margin:auto auto;
}

.l2{
  background-color: #F5FFFA;
  margin-top: 25px;
  border-radius:25px 25px 25px 25px;
  width:70%;
  float:right;
  text-align:center;
  font-size:25px;
  color:#000000;
}
.u1{
  background-color: #EEE8AA;
  border-radius:15px 15px 15px 15px;
  width:95%;
  height:115px ;
  margin:15px auto;
  text-align: center;
  font-size:20px;
  color:#000000;
}
.t1{
  background-color:#B0C4DE;
  margin-top: 4%;
  float: left;
  margin-left:3%;
  width:25%;
  height: 50px;
  border-radius:15px 15px 15px 15px;
}
.t2{
  background-color:#B0C4DE;
  margin-left:29%;
  margin-top: 1.5%;
  width:25%;
  height: 50px;
  border-radius:15px 15px 15px 15px;
}
.t3{

  background-color:#B0C4DE;
  margin-top: 4%;
  float: right;
  margin-right:3%;
  width:42%;
  height: 50px;
  border-radius:15px 15px 15px 15px;
}