// Place all the styles related to the admin/Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
  width:100%;
  height:35px;
  margin:0 auto;
}
.l{
  background-color: #F5FFFA;
  border-radius:5px 5px 5px 5px;
  width:25%;
  float:left;
  margin-left:15px;
  text-align:center;
  font-size:25px;
  color:#000000;
  margin-top:25px;
}
.n1{
  border-radius:25px 25px 25px 25px;
  font-size:15px;
  background-color: #FFFFE0;
  margin:5px auto;
}
.n2{
  border-radius:25px 25px 25px 25px;
  font-size:15px;
  background-color: #FFFFE0;
  margin:auto auto;
}

.l2{
  background-color: #F5FFFA;
  margin-top: 35px;
  border-radius:0px;
  width:70%;
  float:right;
  font-size:14px;
  color:#000000;
}

ul.tabNavigation {
list-style: none;
margin: 0;
padding: 0;
}

ul.tabNavigation li {
display: inline;
}

ul.tabNavigation li a {
padding: 3px 9px;
background-color: #666;
color: #000;
text-decoration: none;
}

ul.tabNavigation li a.selected,
ul.tabNavigation li a.selected:hover {
background: #ddd;
color: #000;
}

