/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 .lol{
 text-align:center;
 background-color: #f52;
 width:1000px;
 height:200px;
 margin:0 auto;
 }
 t{
color: #a45;
text-align:center;
font-size:35px;
 }
.l{
 background-color: #f12;
 width:80%;
 float:left;
}
.q{
 background-color: #f87;
 width:20%;
 float:right;
}