%h1 Listing users

%table
  %tr
    %th Firstname
    %th Lastname
    %th Email
    %th Password
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.lastname
      %td= user.email
      %td= user.password
      %td= link_to( image_tag("del.png"), admin_user_path(user.id), :method => 'delete', :data => { :confirm => 'Are you sure?' })
%br

