!!!
%html
  %head
    %title SocialNetworc
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .header
      Admin Page
    .l
      Notification
      .n1
        Bad_Admin_Page
      .n2
        New_ user
    .l2
      Users
      .u1
        User_1
        .t3
          Information
        .t1
          User_name
        .t2
          Password
    = yield
